/* 默认样式 */
// * { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
    text-decoration: none;
    color: #262626;
}

.mask-img-top {
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 64px);
    mask-image: linear-gradient(to bottom, transparent 0, black 64px);
}

.mask-img-bottom {
    -webkit-mask-image: linear-gradient(to top, transparent 0, black 32px);
    mask-image: linear-gradient(to top, transparent 0, black 32px);
}

/* 全局变量 */
$G85: #262626;

$W100: #fff;
$B100: #000;


/* 全局样式 */
.box {
    // background-color: $W100;
    // border: 2px solid $G85;
    border-radius: 4px;

    // &:hover {
    //     box-shadow: 12px 12px;
    // }
}

.box-b {
    border-radius: 0 0 4px 4px;
}
.box-t {
    border-radius: 4px 4px 0 0;
}

// .box-shadow {
//     // transition: all .5s;
//     // box-shadow: 8px 8px rgba(252,165,165, 0.85);

//     &:hover {
//         box-shadow: 12px 12px;
//     }
// }


.p4 {
    padding: 4px;
}

.p8 {
    padding: 8px;
}

.p12 {
    padding: 12px;
}

.p16 {
    padding: 16px;
}

.p20 {
    padding: 20px;
}

.transition-all {
    transition: all .5s;
}

.gradient-orange {
    color: $W100;
    background: linear-gradient(90deg, #FF8D13 0%, #FF8D13 0%, #FF3C1E 100%, #FF3C1E 100%);
}

.gradient-green {
    color: $W100;
    background: linear-gradient(90deg, #42F02C 0%, #42F02C 0%, #05AF51 100%, #05AF51 100%);
}

.gradient-yellow {
    color: $W100;
    background: linear-gradient(90deg, #FFC300 0%, #FFC300 0%, #FF7B00 100%, #FF7B00 100%);
}

.gradient-blue {
    color: $W100;
    background: linear-gradient(90deg, #13CAFC 0%, #13CAFC 2%, #1670F6 100%, #1670F6 100%);
}

.gradient-red {
    color: $W100;
    background: linear-gradient(90deg, #FF5E86 0%, #FF5E86 0%, #F41130 100%, #F41130 100%);
}

.gradient-purple {
    color: $W100;
    background: linear-gradient(90deg, #E113FC 0%, #E113FC 0%, #6816F6 100%, #6816F6 100%);
}

.gradient-silver {
    color: #76829E;
    background: linear-gradient(90deg, #EAEAEA 0%, #EAEAEA 0%, #ADB3BF 100%, #ADB3BF 100%);
}

.gradient-gold {
    color: #b47e00;
    background: linear-gradient(90deg, #FFF6C5 0%, #FFF6C5 0%, #F3C862 100%, #F3C862 100%);
}

.gradient-drill {
    color: #F1FBFF;
    background: linear-gradient(90deg, #AACADC 0%, #AACADC 2%, #3C6F8C 100%, #3C6F8C 100%);
}



.load-gradient {
    background-image: linear-gradient(-40deg, #f1f1f1, #f7f7f7, #e8e8e8, #f7f7f7, #f1f1f1);
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    animation: ggg 10s ease-in-out infinite;
}

@keyframes ggg {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}